*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.png);
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 1px;
}
.logo{
	width: 120px;
	cursor: pointer;
	border-radius: 50%;
	position: relative;
	animation-name: ogi;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
@keyframes ogi{
	0% {
		left: 0px;
	} 
	50% {
		left: 100px;
	}
	100%{
		left: 0px;
	}
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	border: 1px solid white;
	padding: 10px;
	border-radius: 10px;
}
.navbar ul li:hover{
	border-color: cyan;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;

}
.navbar ul li:after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0px;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
}
p.info{
	margin: 20px auto;
	line-height: 25px;
	font-size: 20px;
}
button{
	width: 200px;
	padding: 15px 0;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 20x solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}

@media(min-width: 320px) and (max-width: 768px){
	h1#ogi{
		font-size: 30px;
	
	}
	p.info{
		font-size: 16px;
	}
	.navbar ul li a{
		font-size: 17px;
	}

	.navbar ul li{
		position: relative;
		left: 150px;
		padding: 3px;
		display: block;
		margin: 5px;

	}
	.logo{
		animation-name: ogi;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		position: fixed;
		max-width: 100%;
		max-height: 100%;
		width: 90px;
		border-radius: 30px;

	}
	button.tombol{
		width: 200px;
		height: 50px;

		animation-name: tombol;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		background: #009688;
	}

	@keyframes tombol{
		50%{
			border-color:red ;
		}
	}

	@keyframes ogi{
		50% {
			transform: translateX(30px);
		}
	}

	/*for width 320*/
	
